.reviewBox
  h2(style="margin: 0px; color: #46586b;") Review Us!
  .content
    .summary(style="font-size:12px;line-height:140%;margin:0px")
      | How was your experience with our app?
  .star-rating
      a(href=`${reviewLinkInOurApp}?rate=1`, target='_blank') ★
      a(href=`${reviewLinkInOurApp}?rate=2`, target='_blank') ★
      a(href=`${reviewLinkInOurApp}?rate=3`, target='_blank') ★
      a(href=`${reviewLinkInOurApp}?rate=4`, target='_blank') ★
      a(href=`${shopifyAppUrl}#modal-show=WriteReviewModal`, target='_blank') ★